[Unit]
Description=The Apache HTTP Server
After=network.target

[Service]
Type=forking
ExecStart=/etc/init.d/apache2 start
ExecStop=/etc/init.d/apache2 stop
ExecReload=/etc/init.d/apache2 reload
Restart=always

[Install]
WantedBy=multi-user.target
